.imagen{
    background-image: url(../../assets/hero-mobile.jpg);
    background-repeat: no-repeat;
    width: 100%;
}
.contentBelow h1{
    text-transform: uppercase;
    font-size: 53px;
    letter-spacing: 9.5px;
    line-height: 1;
    text-align: center;
    margin: 35px 0 0;
    color: hsl(0, 36%, 70%);
   font-weight: unset;

 }

 .contentBelow  h2 {
   margin: 0;
   letter-spacing: 14.5px;
   text-transform: uppercase;
   font-size: 53px;
   line-height: 1;
   text-align: center;
   
   
}