* {
    font-family: Josefin Sans;
}

.imagen{
    background-image: url(../../assets/hero-mobile.jpg);
    background-repeat: no-repeat;
    width: 100%;
}
.contentBelow h1{
    text-transform: uppercase;
    font-size: 38px;
    letter-spacing: 9.5px;
    line-height: 1;
    text-align: center;
    margin: 35px 0 0;
    color: hsl(0, 36%, 70%);
   font-weight: unset;
 }

 .contentBelow  h2 {
   margin: 0;
   letter-spacing: 14.5px;
   text-transform: uppercase;
   font-size: 38px;
   line-height: 1;
   text-align: center;
}

.formContent {
  display: flex;
  flex-direction: column;
  height: 104px;
  position: relative;
}

.contentBelow p {
  color: hsl(0, 36%, 70%);
    line-height: 1.7;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin: 16px;
    text-align: center;
}

.contentBelow .formContent input{
      background: transparent;
      border: 1px solid hsla(0, 25%, 49%, 0.7);
      position: relative; 
      width: 91%;
      height: 45px;
      border-radius: 64px;
      padding-left: 19px;
  }

  .contentBelow input::placeholder {
    color: hsl(0, 38%, 60%, 0.5 );
    font-size: 17px;
    letter-spacing: .4px;
    font-weight: bold;
  }
  .contentBelow input:focus {
    color: hsl(0, 93%, 68%);
  }

  .mensError {
    margin: 20px;
    color: hsl(0, 74%, 74%);
    font-size: 15px;
    word-spacing: -3.5px;
    font-weight: bold;
  }

  .iconoError {
    position: absolute;
    left: 59%;
    top: 60%;
    width: 28px;
  }

  .imgContent {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    position: absolute;
    right: 2%;
    width: 66px;
    height: 49px;
    border-radius: 64px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .imgContent img {
    height: 20px;
    margin-top: 14px;
  }
 
 