.headerContent img {
   margin: 40% 0 0 93%;
   position: static;
}

@media (max-width: 376px) {
    .headerContent  {
        margin: 6%;
        position: static;
}
    .headerContent img {
        width: 43%;
        margin: 4%;
    }
}