#root {
  max-width: 1440px; 
  margin: 0 auto;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
}
.container2{
  display: flex;

}



@media (max-width: 376px) {
  .container{
    display: block;
    }
      .container2{
        flex-wrap: wrap-reverse;
    }
    .imgMobil{
      width: 124%;
    } 
}